{% extends "base.html" %}

{% block content %}
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}
        <br>
        {{ form.name() }}
        <br>
        {% for error in form.name.errors %}
        <p style="color: red;">[{{ error }}]</p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}
        <br>
        {{ form.description() }}
        <br>
        {% for error in form.description.errors %}
        <p style="color: red;">[{{ error }}]</p>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}
        <br>
        {{ form.price() }}
        <br>
        {% for error in form.price.errors %}
        <p style="color: red;">[{{ error }}]</p>
        {% endfor %}
    </p>
    <p>
        {{ form.count.label }}
        <br>
        {{ form.count() }}
        <br>
        {% for error in form.count.errors %}
        <p style="color: red;">[{{ error }}]</p>
        {% endfor %}
    </p>
    
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
